<h2>New celebrity</h2>
<form action="" method="POST">
   
    <label for="input-name"></label>
    <input type="text" id="input-name" name="name" placeholder="Name" required/>

    <label for="input-occupation"></label>
    <input type="text" id="input-occupation" name="occupation"/>

    <label for="input-catchPhrase"></label>
    <input type="text" id="input-catchPhrase" name="catchPhrase" />
    <button>Submit</button>
</form>